{% extends 'book_theme.html' %}



{% block main %}

    <h1>{{ book.title }}</h1>
    <h2>by {{ book.author.name }}</h2>

    <h3>About {{ book.title }}</h3>
    <p>
         {% autoescape off %}
             {{ markdown }}
         {% endautoescape %}
    </p>

    <div class="card">
        <div class="card-header">
            <h3>Chapters</h3>
        </div>
        <div class="card-body">
            <ul>

                {% for chapter in chapters %}
                    <li>
                        <a href="/chapter/{{ chapter.pk }}">{{ chapter }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="m-5">
        <a href="{{ book.pk }}/" class="btn btn-success m-3">Edit Book</a>
        <a href="/chapter/{{ book.pk }}/add" class="btn btn-success m-3">Add Chapter</a>
    </div>

{% endblock main %}
