{% extends 'book_theme.html' %}

{% load crispy_forms_tags %}

{% block main %}

    <div class="card m-3">
        <div class="card-header bg-light text-dark">
            Edit Chapter
        </div>
        <div class="card-body bg-dark text-light">
           
            <form action="" method="post">{% csrf_token %}

                <!-- Without Crispy Forms {{ form.as_p }}  -->
                {{ form|crispy }}

                <button class="btn btn-success mt-3" type="submit">Save</button>

            </form>
        
        </div>
    </div>

{% endblock main %}
